<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap mp rescap">
  <Identity Name="ZorinConnect.W10M" Publisher="CN=Developer" Version="0.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="4A7D20B9-8E31-4C55-A2F0-6B9D51C83E72" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Zorin Connect</DisplayName>
    <PublisherDisplayName>Starkka15</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.15063.0" MaxVersionTested="10.0.16299.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ZorinConnect.App">
      <uap:VisualElements DisplayName="Zorin Connect"
                          Square150x150Logo="Assets\Square150x150Logo.png"
                          Square44x44Logo="Assets\Square44x44Logo.png"
                          Description="KDE Connect for Windows 10 Mobile"
                          BackgroundColor="#15A6F0">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Zorin Connect" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#15A6F0" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="contacts" />
    <!-- RESCAP PROBE (T31): does the sideloaded 640XL honor these? (DeviceCapability must be last) -->
    <uap:Capability Name="chat" />
    <rescap:Capability Name="chatSystem" />
    <rescap:Capability Name="phoneCallHistorySystem" />
    <rescap:Capability Name="inputInjectionBrokered" />
    <rescap:Capability Name="smsSend" />
    <DeviceCapability Name="phoneCall" />
  </Capabilities>
</Package>
